.prod_card {
    position: relative;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 15px;
    // max-width: 250px;
    border: 1px solid #f5f5f5;
    transition: all .3s linear;

    .img_box {
        border: 1px solid #eee;
        border-radius: 15px;
        height: 300px;
        position: relative;
        overflow: hidden;
        img {
            border-radius: 15px;
        }
        .actions-butns {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 8px;
            top: 80px;
            right: 10px;
            transform: translateX(50px);
            transition: all .3s linear;
            .act_butn{
                border: 1px solid var(--primary);
                background-color: #ffff;
                color: var(--primary);
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 20px;
                cursor: pointer;
            }


        }
    

    }

    .card-body {
        padding: 1rem 1.25rem;
        .name{
            color: var(--secondary);
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .stars {
            color: rgb(215, 194, 5);
            font-size: 18px;
            display: flex;
            gap: 5px;
            margin: 10px 0;
        }
        .price {
            color: var(--primary);
            font-weight: bold;
            font-size: 20px;
            margin-top: 10px;
        }
    }
    &:hover {
        border-color: var(--primary);
        box-shadow:  3px 6px 15px 0 rgba(156, 155, 155, 0.333);
        .img_box .actions-butns {
            transform: translateX(0);
        }
    }

}